# Project exclude paths
/cloud-api-commons/target/
/cloud-consumer-consul-order80/target/
/cloud-consumer-order-80/target/
/cloud-consumerzk-order80/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server-7002/target/
/cloud-provider-payment/target/
/cloud-provider-payment8002/target/
/cloud-provider-payment8004/target/
/cloud-providerconsul-payment8006/target/