server:
  port: 7002

eureka:
  instance:
    hostname: eureka7002.com
  client:
    register-with-eureka: false #false 表示不向注册中心注册自己
    fetch-registry: false  #false 表示自己端就是注册中心 并不需要去检索服务
    service-url:   # 设置与 Eureka server 交互的地址查询服务 和 注册服务都需要依赖这个地址
      defaultZone: http://eureka7001.com:7001/eureka/


